body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #101721;
    font-family: "DM Sans", sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.left {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 40%;
    background: #fff;
    border-radius: 20px;
    margin: 20px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo-left {
    max-width: 22%;
    height: auto;
}

.logo-right {
    max-width: 15%;
    height: auto;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #c7c7c7;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    background-color: #101721;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

button:hover {
    background-color: #1f496a;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.link {
    color: #cc0000;
    padding: 5px;
    text-decoration: none;
    font-size: 0.9em;
}

.link:hover {
    text-decoration: underline;
}

.error-message {
    color: #cc0000;
    font-size: 0.9em;
    margin-left: 10px;
}

/* Yükleme ekranı */
.loading {
    display: none; /* Başlangıçta gizli */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.loading-gif {
    width: 50px; /* Yükleme GIF'ini küçültme */
    height: 50px;
}
