body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #101721;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    /* Yatay eksende içerikleri ortalar */
    justify-content: center;
    /* Dikey eksende içerikleri ortalar */
}

.logo-left {
    max-width: 22%;
    /* Logo genişliği maksimum %15 olacak şekilde ayarlandı */
    height: auto;

}

.logo-right {
    max-width: 15%;
    /* Logo genişliği maksimum %15 olacak şekilde ayarlandı */
    height: auto;
    /* Yükseklik, genişlik ile orantılı olarak ayarlanır */
}

.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #c7c7c7;
}

.button-container {
    width: 100%;
    /* Genişliği tüm konteynere yay */
    display: flex;
    justify-content: center;
    /* İçeriği yatay olarak ortala */
    align-items: center;
    /* İçeriği dikey olarak ortala */
    margin-top: 20px;
    /* Üstten boşluk ekle */
}

button {
    width: 80%;
    /* Buton genişliğini %80 yap */
    padding: 12px;
    /* Daha iyi tıklama alanı için padding artır */
    border: none;
    color: #FFFFFF;
    border-radius: 6px;
    background-color: #101721;
    cursor: pointer;
    /* İmleci pointer yap */
    font-size: 16px;
    /* Font boyutunu ayarla */
}

button:hover {
    background-color: #1f496a;
    /* Hover durumunda arka plan rengi */
}

.link {
    color: #cc0000;
    padding: 5px;
    text-decoration: none;
    font-size: 0.9em;
}

.link:hover {
    text-decoration: underline;
}