body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #031F30;
    color: white;
}

/* Sidebar Styles */
.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #011520;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #35515E;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.navigation .nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s;
}

.navigation .nav-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navigation .nav-item:hover {
    background-color: #1B5D85;
}

.navigation .nav-item+.nav-item {
    margin-top: 10px;
}

/* Main Content Styles */
.main-content {
    margin-left: 280px;
    padding: 20px;
}

/* Tablo stilleri */
.scan-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
}

.scan-table img {
    max-width: 24px;
    max-height: 24px;
}


.scan-table th, .scan-table td {
    border: 1px solid #35515E;
    padding: 8px;
    text-align: left;
}

.scan-table th {
    background-color: #1B5D85;
    color: white;
}

.scan-table a {
    color: #1B5D85;
    text-decoration: none;
}

.scan-table a:hover {
    text-decoration: underline;
}

/* Sonuç renkleri */
.success {
    color: #2ECC71;
}

.failed {
    color: #E74C3C;
}

/* Pagination stilleri */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination-button {
    padding: 8px 12px;
    background-color: #1B5D85;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #14415F;
}

/* Tablet ve Mobil Cihazlar için Stiller */
@media screen and (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation .nav-item {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .scan-table th, .scan-table td {
        font-size: 14px;
    }

    .scan-table img {
        max-width: 20px;
        max-height: 20px;
    }
}

/* Telefonlar için Stiller */
@media screen and (max-width: 480px) {
    .pagination-button {
        padding: 6px 10px;
        font-size: 12px;
    }
}
