/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 8px;
    --margin: 6px;
    --border-radius: 8px;
}

/* Keyframes */
@keyframes toolAppear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* Tool Drop Animation */
.animate-tool-drop {
    animation: toolAppear 0.2s ease-in-out;
}

/* Body Styles */
body {
    font-family: "DM Sans", sans-serif;
    font-size: clamp(12px, 1vw, 14px);
    color: #FFFFFF;
    background-color: #06263a;
    height: calc(100vh - 100px);
}

/* Input Styles */
input[type="text"] {
    width: 100%;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    padding: var(--padding);
    border-radius: var(--border-radius);
    color: #FFFFFF;
    outline: none;
    border: none;
    background-color: #34495E;
    animation: toolAppear 0.5s ease-in-out;
}

input[type="text"]:focus {
    background-color: #0F3A54;
}

input::placeholder {
    color: #FFFFFF;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-track {
    background-color: #0F3A54;
    border-radius: var(--border-radius);
}

/* Navbar Styles */
.navbar {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    padding: var(--padding);
    gap: var(--padding);
    background-color: #031f30;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: clamp(110px, 10%, 120px);
}

.navbar input[type="text"] {
    margin: 0;
    width: 200px;
}

.back-button img,
.start-attack img,
.clean-button img,
.loading-icon {
    width: 24px;
    height: 24px;
    margin-right: var(--margin);
}

.loading-icon {
    margin: 0;
}

.back-button a,
.start-attack a,
.clean-button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d4d8dd;
}

.start-attack a {
    background-color: #3a8d4a;
    padding: var(--padding);
    border-radius: var(--border-radius);
}

/* Container Styles */
.container {
    display: flex;
    padding: var(--padding);
    gap: var(--padding);
    height: calc(100vh - 50px);
}

/* Left Panel Styles */
.left-panel {
    width: 20%;
    background-color: #011520;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: var(--padding);
    animation: toolAppear 0.5s ease-in-out;
    border-radius: var(--border-radius);
}

.tools-boxes {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.tools-info,
.tools-red-box,
.tools-yellow-box,
.tools-green-box,
.tools-all-box {
    width: clamp(14px, 1vw, 18px);
    height: clamp(14px, 1vw, 18px);
    margin: var(--margin);
    cursor: pointer;
    border-radius: 50%;
}

.tools-red-box,
.draggable-3 {
    background-color: #9e1f45;
}

.tools-yellow-box,
.draggable-2 {
    background-color: #e0b830;
}

.tools-green-box,
.draggable-1 {
    background-color: #3a8d4a;
}

.tools-all-box {
    background-color: #d4d8dd;
}

/* Draggable Tools */
.draggable-1,
.draggable-2,
.draggable-3 {
    width: 100%;
    padding: var(--padding);
    margin: var(--margin);
    cursor: pointer;
    border-radius: var(--border-radius);
}

/* Right Panel Styles */
.right-panel {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-container {
    background-color: #34495E;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: var(--border-radius);
}

.top-box-container {
    display: flex;
    justify-content: space-between;
    height: 60%;
    overflow: hidden;
    padding: var(--padding);
}

.top-box {
    flex: 1;
    padding: var(--padding);
    margin-right: var(--margin);
    height: 100%;
    text-align: center;
    background-color: #2C3E50;
    border-radius: var(--border-radius);
    overflow-y: auto;
    overflow-x: hidden;
}

.top-box .draggable-1,
.top-box .draggable-2,
.top-box .draggable-3 {
    margin: 0;
    margin-top: var(--margin);
}

.top-box:last-child {
    margin-right: 0;
}

.top-box-icon {
    width: 24px;
    height: 24px;
    margin-right: var(--margin);
    vertical-align: middle;
}

/* Bottom Box Container */
.bottom-box-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    align-items: center;
    justify-content: space-around;
    padding: var(--padding);
}

.bottom-box {
    cursor: pointer;
    width: 100%;
    background-color: #2C3E50;
    padding: var(--padding);
    text-align: center;
    border-radius: var(--border-radius);
}

/* Tooltip Styles */
.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    z-index: 0;
}

.tooltip {
    position: absolute;
    background-color: whitesmoke;
    padding: var(--padding);
    z-index: 1000;
    display: none;
    color: #031F30;
    left: 100%;
    border-radius: var(--border-radius);
    transform: translateY(-20%);
    font-size: 90%;
}

.draggable-1:hover .tooltip,
.draggable-2:hover .tooltip,
.draggable-3:hover .tooltip {
    display: block;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Custom Alert and Loading Styles */
#custom-alert,
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#custom-alert {
    z-index: 1000;
}

#loading {
    z-index: 1001;
}

.hide-visibility {
    visibility: hidden;
}

.not-clickable {
    pointer-events: none;
    opacity: 0.5;
}

.custom-alert-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: whitesmoke;
    padding: var(--padding);
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #031F30;
}

.custom-alert-content button {
    margin-top: var(--margin);
    padding: var(--padding);
    border: none;
    background-color: #2C3E50;
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.custom-alert-content button:hover {
    background-color: #0F3A54;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
