body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #101721;
    font-family: 'DM Sans', sans-serif;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.logo-left {
    max-width: 22%;
    height: auto;
}

.logo-right {
    max-width: 15%;
    height: auto;
}

.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form-container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333333;
    font-family: 'DM Sans', sans-serif;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #c7c7c7;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    background-color: #101721;
    cursor: pointer;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

button:hover {
    background-color: #1f496a;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.link {
    color: #cc0000;
    padding: 5px;
    text-decoration: none;
    font-size: 0.9em;
    font-family: 'DM Sans', sans-serif;
}

.link:hover {
    text-decoration: underline;
}

.error-message {
    color: #cc0000;
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

