/* homepage.css */
body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #031F30;
    color: white;
}

.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #011520;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {
    margin-left: 280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Diğer CSS kurallarınız burada yer alacak */
