body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #031F30;
    color: white;
}
/* Sidebar Styles */
.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #011520;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #35515E;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.navigation .nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s;
}

.navigation .nav-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navigation .nav-item:hover {
    background-color: #1B5D85;
}

.navigation .nav-item + .nav-item {
    margin-top: 10px;
}

/* Main Content Styles */
.main-content {
    margin-left: 280px;
    padding: 20px;
}

.metrics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.metric-item {
    background-color: #011520;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
}

.metric-number {
    display: block;
    font-size: 36px;
    color: #F76C5E;
}

.metric-label {
    font-size: 18px;
    color: white;
}

.charts-section {
    display: flex;
    justify-content: space-between;
}

.chart-item {
    background-color: #011520;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin-right: 20px;
    margin-top: 0;
}

.chart-item:last-child {
    margin-right: 0;
}

.chart {
    width: 100%;
    height: 250px;
}

.reports-section {
    max-height: calc(100vh - 440px); /* Önceden sabit olan alanı düşürdük */
    overflow-y: auto; /* Eğer içerik ekran boyutunu aşarsa dikey kaydırma çubuğu görünsün */
    background-color: #011520;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}


.reports-list {
    list-style-type: none;
    padding: 0;
}

.reports-list li {
    padding: 10px;
    border-bottom: 1px solid #35515E;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: #011520;
}

.footer-logo-pic {
    width: 120px;
    margin: auto;
    display: block;
}

.chart-item h5 {
    margin-top: 0;
}

.reports-section h5 {
    margin-top: 0;
}
