body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #031F30;
    color: white;
}

.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #011520;
    padding: 20px;
    box-sizing: border-box;
}

.profile {
    text-align: center;
    margin-bottom: 20px; /* Reduced margin between profile and navigation */
    padding-bottom: 20px; /* Added padding below profile */
    border-bottom: 1px solid #35515E; /* Added border below profile */
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.navigation .nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s;
}

.navigation .nav-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navigation .nav-item:hover {
    background-color: #1B5D85;
}

.navigation .nav-item + .nav-item {
    margin-top: 10px; /* Added margin between navigation items */
}

footer {
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 250px;
}

.footer-links {
    margin-bottom: 20px; /* Added space below links */
}

.footer-logo-pic {
    width: 150px;
}
