body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #031F30;
    color: white;
}

/* Sidebar Styles */
.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #011520;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #35515E;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.navigation {
    flex-grow: 1;
}

.navigation .nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.navigation .nav-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navigation .nav-item:hover {
    background-color: #1B5D85;
}

.navigation .nav-item + .nav-item {
    margin-top: 10px;
}

.footer-logo {
    text-align: center;
    padding: 10px;
    background-color: #011520;
}

.footer-logo-pic {
    width: 120px;
    margin: auto;
    display: block;
}

/* Main Content Styles */
.main-content {
    margin-left: 280px;
    padding: 20px;
}

.metrics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.metric-item {
    background-color: #011520;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metric-item:last-child {
    margin-right: 0;
}

.metric-number {
    display: block;
    font-size: 36px;
    color: #FC273F;
    margin-top: 10px;
}

.metric-label {
    font-size: 18px;
    color: white;
}

/* Charts Section Styles */
.charts-section {
    display: flex;
    justify-content: space-between;
}

.chart-item {
    background-color: #011520;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-item:last-child {
    margin-right: 0;
}

.chart {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Activities Section Styles */
.activities-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.activities-item {
    background-color: #011520;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.activities-item h5 {
    margin-top: 0;
}

/* Table styles */
.scan-table {
    width: 90%; /* Make the table slightly narrower */
    border-collapse: collapse;
    margin: 20px auto; /* Center the table and add top margin */
    overflow-x: auto;
    font-size: 14px; /* Make the text slightly smaller */
}


.scan-table th, .scan-table td {
    border: 1px solid #35515E;
    padding: 6px; /* Reduce padding for smaller cells */
    text-align: left;
}

.scan-table th {
    background-color: #1B5D85;
    color: white;
}

.scan-table a {
    color: #1B5D85;
    text-decoration: none;
}

.scan-table a:hover {
    text-decoration: underline;
}

.status-dot {
    height: 10px;
    width: 10px;
    background-color: #4CAF50; /* Green color */
    border-radius: 50%;
    display: inline-block;
}

/* View All Link */
.view-all-link {
    margin-top: 15px;
    color: #1B5D85;
    text-decoration: none;
    text-align: right;
}

.view-all-link:hover {
    text-decoration: underline;
}