@keyframes toolAppear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.animate-tool-drop {
    animation: toolAppear 0.2s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #031F30;
    color: #FFFFFF;
}

input[type="text"] {
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #34495E;
    outline: none;
    border: none;
    animation: toolAppear 0.5s ease-in-out;
}

input[type="text"]:focus {
    background-color: #0F3A54;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #031F30;
}

::-webkit-scrollbar-track {
    background-color: #0F3A54;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 10%;
    margin-right: 10px;
}

.logo-text {
    font-size: 18px;
}

.back-button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d4d8dd;
}

.back-button img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 24px);
}

.tools-panel {
    width: 15%;
    background-color: #011520;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    animation: toolAppear 0.5s ease-in-out;
}

.tools-boxes {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: auto;
}

.tools-red-box,
.tools-yellow-box,
.tools-green-box,
.tools-all-box {
    width: 30%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
}

.tools-red-box,
.draggable-3 {
    background-color: #9e1f45;
}

.tools-yellow-box,
.draggable-2 {
    background-color: #e0b830;
}

.tools-green-box,
.draggable-1 {
    background-color: #3a8d4a;
}

.tools-all-box {
    background-color: #d4d8dd;
}

.draggable-1,
.draggable-2,
.draggable-3 {
    width: 90%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}

.top-right-panel {
    flex-grow: 1;
    display: grid;
    height: 100%;
}

.categories-panel {
    display: flex;
    justify-content: space-around;
    background-color: #34495E;
    padding: 10px;
    min-height: 60vh;
    max-height: 60vh;
    flex-wrap: nowrap;
    overflow-y: auto;
    border-radius: 8px;
    animation: toolAppear 0.8s ease-in-out;
}

.clean-button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d4d8dd;
}

.clean-button img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.category {
    padding: 10px;
    background-color: #2C3E50;
    text-align: center;
    width: 29%;
    border-radius: 8px;
}

.category-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.attack-templates-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #34495E;
    padding: 10px;
    border-radius: 8px;
    height: fit-content;
}

.template {
    width: 90%;
    padding: 10px;
    margin: 5px;
    background-color: #2C3E50;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    z-index: 0;
}

.tooltip {
    position: absolute;
    background-image: linear-gradient(to right, #011520 , #031F30);
    padding: 5px;
    z-index: 1000;
    display: none;
    color: white;
    top: 100%;
    left: 0;
    border-radius: 8px;
}

.draggable-1:hover .tooltip,
.draggable-2:hover .tooltip,
.draggable-3:hover .tooltip {
    display: block;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
