body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
    height: calc(100vh - 50px);
}

.left-panel {
    width: 20%;
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 10px;
}

.left-panel .box {
    background-color: #ddd;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.right-panel {
    width: 80%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.box-container {
    background-color: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.top-box {
    background-color: #bbb;
    padding: 20px;
    margin-bottom: 10px;
    flex: 5;
    text-align: center;
}

.bottom-box {
    background-color: #aaa;
    padding: 4px;
    margin-bottom: 10px;
    flex: 1;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        width: 100%;
    }

    .right-panel {
        height: 50%;
    }
}
