body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #101721;
}

.navbar {
    width: 100%;
    background-color: rgba(23, 31, 58, 0.73);
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
    height: calc(100vh - 50px);
}

.left-panel {
    width: 20%;
    background-color: #101721;
    overflow-y: auto;
    padding: 20px 10px 10px 10px; /* Added top padding */
    margin-top: 20px; /* Added margin-top to create a gap above the left panel */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.left-panel::-webkit-scrollbar {
    width: 8px;
}

.left-panel::-webkit-scrollbar-track {
    background: #2a2f3a;
    border-radius: 10px;
}

.left-panel::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid #2a2f3a;
}

.left-panel::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

.left-panel .box {
    background-color: #afafaf;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow */
}

.right-panel {
    width: 80%;
    background-color: #101721;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto; /* Ensure right-panel is scrollable */
}

.box-container {
    background-color: #101721;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 8px;
}

.top-box-container {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.top-box {
    background-color: #bbb;
    padding: 20px;
    flex: 1;
    text-align: center;
    margin-right: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tools-boxes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: calc(100% - 20px); /* Adjust width to account for padding */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.tools-red-box,
.tools-yellow-box,
.tools-green-box,
.tools-all-box {
    width: 2vw;  /* Dynamic size */
    height: 2vw; /* Dynamic size */
    margin: 0.5vw;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box; /* Ensure padding is included in size calculation */
}

.tools-red-box {
    background-color: #9e1f45;
}

.tools-yellow-box {
    background-color: #e0b830;
}

.tools-green-box {
    background-color: #3a8d4a;
}

.tools-all-box {
    background-color: #d4d8dd;
}

.top-box:last-child {
    margin-right: 0;
}

.bottom-box-container {
    display: flex;
    flex-direction: column;
    height: 20%;
    padding-top: 4rem;
}

.bottom-box {
    background-color: #aaa;
    padding: 4px;
    margin-bottom: 10px;
    text-align: center;
    height: calc(100% / 3 - 10px); /* Adjusted height to fit three boxes */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow */
}

.bottom-box:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        width: 100%;
    }

    .right-panel {
        height: 50%;
    }

    .top-box-container {
        flex-direction: column;
    }

    .top-box {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .top-box:last-child {
        margin-bottom: 0;
    }

    .bottom-box-container {
        margin-top: 10px; /* Adjust margin for smaller screens */
    }
}

@keyframes toolAppear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.animate-tool-drop {
    animation: toolAppear 0.2s ease-in-out;
}
